beautifulsoup4==4.4.1
cycler==0.10.0
Cython==0.25.2
hdbscan==0.8.10
latex2markdown==0.2.1
lxml==3.7.1
matplotlib==2.0.1
numpy==1.12.1
olefile==0.44
pep8==1.7.1
Pillow==4.1.1
playsound==1.2.1
PyMySQL==0.6.7
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.8.1
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
